* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6e7da;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #2d140b;
}

#icon {
  cursor: pointer;
}

#icon:active {
  cursor: pointer;
  scale: 0.8;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) ease-in;
}

h4 {
  font-weight: 400;
  font-size: 25px;
  cursor: pointer;
}

h1 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

header {
  display: flex;
  /* background-color: #fff3ef; */
  padding: 5px 15px 5px 4px;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: 100;

  .shop-name {
    font-family: "Pacifico", sans-serif;
  }

  img {
    height: 45px;
  }

  .menu-bar {
    height: 25px;
    display: none;
  }

  .header-items {
    display: flex;
    gap: 30px;
  }
}

.hero-section {
  position: relative;

  img {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 70vh;
    padding: 5px 6px;
    border-radius: 20px;
    opacity: 0.8;
    filter: contrast(85%) drop-shadow(2px 2px 5px gray);
  }

  p {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  h1 {
    position: absolute;
    font-size: 40px;
    left: 15px;
    top: 15px;
    color: white;
  }
}

.divider {
  font-size: clamp(2em, 5vw, 3em);
  display: flex;
  align-items: center;
  margin: 7px 0px;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 0.7px;
  background-color: black;
  margin: 10px;
}

.menu-section {
  .menu {
    padding: 2px;
    display: grid;
    place-items: center;
    gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .menu-item {
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    /* filter: drop-shadow(1); */
    max-width: min-content;
    height: 430px;

    img {
      border-radius: 12px;
      height: 300px;
      object-fit: cover;
      width: 250px;
    }

    .item-name {
      display: flex;
      justify-content: space-between;
      padding: 2px 1px 10px 2px;
    }
    p {
      text-overflow: ellipsis;
      padding: 2px 1px 6px 2px;
    }
  }
}

@media only screen and (min-width: 900px) {
  header {
    .shop-name {
      padding-left: 260px;
    }
  }
}

@media only screen and (max-width: 900px) {
  header {
    .header-items {
      display: none;
    }
    .menu-bar {
      display: block;
    }
  }
}

@media screen and (max-width: 511px) {
  .menu-section {
    .menu-item {
      margin: 2px 20px;
      img {
        width: 89vw;
      }
    }
  }
}
